.list{
  border-bottom: 1px solid 
  var(--color-border-light);
}

.list:last-child {
  border-bottom: none;
}

.link {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 24px 0;
}

.image {
  width: 200px;
  height: auto;
  border-radius: 
  var(--border-radius);
}

.lstylist {
  border-bottom: 1px solid var(--color-border-light);
}

.newsItemTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 640px) {
  .top {
    padding: 120px 16px;
  }
  .image{
    display: none;
  }

  .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

    .meta {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}